.centerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}
.centerDiv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}
.centerDiv3{
    display: flex;
}
.containImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#myBtn {
    /* display: none; */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    height: 50px;
    width: 50px;
  }
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
/* @media only screen and (min-width: 600px) {
    .centerDiv2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 60px);
    }
    .containImage{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
  }
  @media only screen and (max-width: 599px) {
    .centerDiv2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 60px);
    }
    .containImage{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
  } */